<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= showBook.title %> </title>
</head>
<body>
    <nav><button><a href="/books">Back to list</a></button></nav>
    <h1><%= showBook.title %> </h1>
    <button><a href="/books/<%=showBook._id%>/edit">Edit this book</a></button>
    <p>
        Author: <%= showBook.author %>
    <br>
        Completed: <%= showBook.completed %> 
    </p>
</body>
</html>